
/* GENERAL */
html, body
    margin: 0
    padding: 0
    font-family: Public Sans
    font-size: 1em
    line-height: 2em
    height: 100%
    
a
    text-decoration: none
body
    background-color: #74CED9 
.highContrast
    background-color: #171717
    color: white
    a
        color: yellow
    footer a
        color: black

h2
    font-size: 1.2em

/* PAGES */
nav
    padding: 5px
    position: fixed
    top: 0
    background-color: white
    width: 100%
    box-sizing: border-box   
    -webkit-box-shadow: 0px 8px 10px -8px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 8px 10px -8px rgba(0,0,0,0.75)
    box-shadow: 0px 8px 10px -8px rgba(0,0,0,0.75)
    display: flex
    justify-content: space-between
    align-items: center
    .title
        font-weight: bold
        font-size: 1.6em
        padding: 10px
        cursor: pointer
    .userblock
        display: flex
        align-items: center
        .user
            display: flex
            align-items: center
            .name
                padding: 10px
            img
                border-radius: 25px
                height: 40px
                width: 40px
    img
        max-width: 50px

.headerimg
    width: 100%
    margin-top: 80px

section 
    display: flex
    aside
        width: 30%
        iframe
            position: fixed
            top: 62px
            right: 0
            border: none
            height: 50%
    .main
        padding: 8em 2em
        margin: 0 auto
        max-width: 900px
        display: flex
        flex-direction: column
        align-items: center 
        .boxcontent
            .block
                display: flex
                img
                    width: 100%
                    margin-right: 20px

/* CONTROLS */

label, textarea
    display: block
textarea
    width: 100%
button
    height: 40px
    min-width: 100px
    cursor: pointer
    font-size: 0.9em
    background-color: #F1BF3A
    border-radius: 3px
    border: none
    padding: 1px 10px

    
/* DIALOGFLOW */
.dialogflow
    height: 90%

df-messenger.highContrast
    --df-messenger-button-titlebar-color: black
    --df-messenger-bot-message: black
    --df-messenger-font-color: white
    --df-messenger-user-message: orange
df-messenger
    --df-messenger-button-titlebar-color: #F1BF3A

/* FOOTER */
footer
    background-color: #22717b
    color: black
    padding: 10px
    a
        color: white


