
/* GENERAL */
html, body
    margin: 0
    padding: 0
    font-family: Public Sans
    font-size: 1em
    line-height: 2em
    height: 100%
a
    text-decoration: none

.highContrast
    background-color: #171717
    color: white
    a
        color: yellow
    footer a
        color: black

/* PAGES */
nav
    padding: 15px
    position: fixed
    background-color: white
    width: 100%
    box-sizing: border-box   
    -webkit-box-shadow: 0px 8px 10px -8px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 8px 10px -8px rgba(0,0,0,0.75)
    box-shadow: 0px 8px 10px -8px rgba(0,0,0,0.75)
    display: flex
    justify-content: space-between
    align-items: center
    .title
        font-weight: bold
        font-size: 1.6em
        padding: 10px
        cursor: pointer
    .userblock
        display: flex
        align-items: center
        .user
            display: flex
            align-items: center
            .name
                padding: 10px
            img
                border-radius: 25px
                height: 40px
                width: 40px
    img
        max-width: 50px

.headerimg
    width: 100%
    margin-top: 80px

article
    padding: 2em
    margin: 0 auto
    max-width: 900px
    .author
        display: flex
        align-items: center
        .imgauthor 
            display: flex
            align-items: center
            img            
                border-radius: 25px
                margin-right: 20px
                max-height: 100px
        .data .name
            font-weight: bold

    .boxcontent
        .block
            display: flex
            img
                width: 100%
                margin-right: 20px

/* CONTROLS */

label, textarea
    display: block
textarea
    width: 100%
button
    height: 40px
    min-width: 100px
    cursor: pointer
    font-size: 0.9em
    
/* DIALOGFLOW */
.dialogflow
    height: 90%

df-messenger.highContrast
    --df-messenger-button-titlebar-color: black
    --df-messenger-bot-message: black
    --df-messenger-font-color: white
    --df-messenger-user-message: orange




/* FOOTER */
footer
    background-color: #FFAD01
    color: black
    padding: 10px
    a
        color: black


