<!DOCTYPE html>
<html lang="en">
<head>
	<title>Static Website | response 1</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<nav>
		<div class="title">COVID web service</div>
		<button onclick="window.location.href='\auth'">Log in with eIDas</button>
	</nav>
	
	
	<img class="headerimg" src="images/stayhome-glen-carrie.jpg" alt="Stay home"/>
	<!--
	<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
	<df-messenger
		chat-icon="images/chatbot64.png"
		intent="WELCOME"
		chat-title="COVIBot"
		agent-id="ff8bc48f-3ed9-431f-85de-4c5a0ef97f0f"
		language-code="es">
	</df-messenger>

	<img class="headerimg" src="http://placekitten.com/1200/250" alt="Kitten"/>
		-->
	<article>

		<h1>Welcome to this COVID service</h1>
		<!--
		<div class="author">
			<div class="imgauthor">
				<img src="http://placekitten.com/50/50" alt="Kitten2">
			</div>
			<div class="data">
				<div class="name">Pepe Pruebas</div>
				<div class="metadata">Jun 20 · 3 min read</div>
			</div>
			
		</div>
		-->
		<p>Login to this web service using eIDas and COVIBot will help you to be safe from COVID-19.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et libero ut elit dignissim venenatis nec quis diam. Nullam finibus justo eget egestas interdum. Sed augue magna, euismod vitae nunc vitae, tristique maximus tortor. Curabitur velit leo, varius vel nunc nec, cursus porttitor quam. Nam ornare, leo vel aliquet euismod, orci arcu maximus neque, vel blandit dui urna nec magna. Vestibulum rutrum vehicula magna at condimentum. Donec iaculis urna massa, eget cursus nibh porta quis. Nullam scelerisque viverra lectus vel consequat. Ut in tempus sem, eu tempus metus. Vestibulum mollis sodales massa.</p>	
		<p>Nam ante risus, lobortis vel diam et, vestibulum pulvinar quam. In nec eleifend sapien. Nulla accumsan nulla ac dui posuere, nec aliquam diam bibendum. Mauris sit amet venenatis mauris. Nullam fermentum bibendum turpis, quis scelerisque lorem iaculis id. In quis cursus dui. Curabitur tincidunt vestibulum enim, nec interdum ex venenatis ut. Mauris quam dui, vehicula id ipsum quis, tristique posuere nisi. Donec sed nunc ac felis interdum sollicitudin eget luctus libero. Etiam sed ipsum sem. Vestibulum a mi consectetur augue ornare tincidunt in ac orci. Nam consectetur augue ante, ac ultrices turpis auctor ut. Cras varius efficitur velit et pretium. Donec ullamcorper malesuada urna, ac tincidunt diam tristique vel. Sed vestibulum egestas nibh sit amet fermentum. Vivamus lacinia metus molestie blandit bibendum.</p>
		<p>Morbi massa ipsum, ullamcorper at libero in, cursus auctor ex. Aliquam eget quam nec nulla sagittis finibus. Donec fringilla gravida arcu id mattis. Sed arcu risus, viverra ut enim nec, pharetra varius massa. Pellentesque gravida leo in odio rutrum, eget consequat leo laoreet. Nullam fringilla vel arcu et vulputate. Duis diam mi, mattis eu semper sed, maximus vel mi. In auctor imperdiet erat, eu ullamcorper leo lobortis quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent consequat ligula sed risus ornare, sit amet cursus leo posuere. Praesent ornare sollicitudin fermentum. Suspendisse auctor, libero ut tristique bibendum, orci tortor lobortis massa, nec ultrices augue neque ut leo. Aenean vel malesuada metus.</p>
		<p>Aenean vitae porttitor nisl. Aliquam erat volutpat. Etiam efficitur urna euismod porta lobortis. Pellentesque elementum mauris augue, id feugiat enim eleifend eu. Quisque tempor, tortor ac ultrices commodo, erat erat suscipit lorem, sit amet volutpat sapien quam vel dui. Morbi porttitor leo at nulla tincidunt, at ultrices neque rhoncus. Aliquam eget sollicitudin neque. Praesent blandit justo id nibh sagittis, sed varius libero mollis. Morbi tincidunt lectus ut bibendum bibendum. Quisque eleifend risus quis velit condimentum consequat. Integer sagittis libero ut orci varius vulputate. Duis sed purus dapibus dolor dapibus ultrices sed a leo. Fusce molestie leo eget velit dignissim rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam sit amet porta enim, ac tristique tellus.</p>
		<p>Suspendisse pharetra feugiat nulla id pulvinar. Ut consequat eget sapien eget commodo. Proin hendrerit odio non ante consectetur, pulvinar porta sapien eleifend. Praesent auctor ex vitae purus rutrum, faucibus venenatis magna bibendum. Integer scelerisque ornare est, eu iaculis urna tincidunt id. Cras in tincidunt odio. Sed quis elit vestibulum, egestas urna quis, molestie massa. Mauris imperdiet, nulla vel tempor cursus, justo dui faucibus nunc, vitae aliquam nisi nunc eget lacus. Aenean egestas at ipsum eu sollicitudin. Vestibulum magna turpis, volutpat et quam a, sagittis pellentesque ante. </p>
	
		


	</article>
	

</body>
</html>